body{
    color:#5f5f5d; font-family:Arial, Helvetica, sans-serif; padding-bottom: 100px;
}
div{
    text-align: justify;
}

nav{
    background-color: #B0C9D9;
}

#map{
    height: 400px;
    width: 100%;
}

  p::first-letter {
    color: #92A9BD;
    float: left;
    font-size: 2em;
    font-family: Georgia;
    line-height: 10px;
    padding-top: 4px;
    padding-right: 2px;
    padding-left: 2px;
  }
  
  
  
  
  
  


.cardBtn {
    background-color: #95ACBF;
    color: white;
  }

  footer {
    position: fixed;
    bottom: 0;
  }
  