
html {
    scroll-behavior: smooth;
  }


nav{
    background-color: #B0C9D9;
}

body{
    color:#5f5f5d; font-family:Arial, Helvetica, sans-serif; 
}



a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}


a:hover {
    color: skyblue;
    background-color: transparent;
    text-decoration: underline;
}
.progressgroup{
    margin-bottom: 40px;

}

.progress-text{
    padding-top: 30px;
    padding-bottom: 10px;
}


.progress-bar{
    width: 70%;
    color: whitesmoke;
}


.fixed_header {
    table-layout: fixed;
    border-collapse: collapse;
  }
  .fixed_header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 300px;
  }
  .fixed_header thead tr {
    display: block;
  }
  
  .fixed_header th,
  .fixed_header td {
    padding: 5px;
    text-align: left;
    width: 200px;
  }


/** report css **/

.reporttitle {
    padding-top: 30px;
    padding-bottom: 10px;
}

#section1{
    padding-bottom: 30px;
}
#section2{
    padding-bottom: 30px;
}
#section3{
    padding-bottom: 70px;

}

.codecard1{
    background-color: gainsboro;
    overflow-x: auto;
    overflow-y: auto;
    height: 150px;

}

.buttondiv1 {
    padding-bottom: 10px;
}
.button1 {
    background-color: black; 
    color: white; 
  }

.button1:hover {
    background-color: grey;
    color: white;
  }


.subsection {
    padding-top: 20px;
    padding-bottom: 20px;
}


.graph {
    padding-top: 20px;
    padding-bottom: 20px;
}

.picrow {
    display: flex;
  }
  
.piccolumn {
    flex: 33.33%;
    padding: 5px;
  }


.analysis {
    padding-top: 20px;
    padding-bottom: 20px;
}
/** Texts **/
.pageindex{
    margin-top: 20px;
}


.scripttitle{
    margin-top: 20px;
}

.scriptbody{
    border-style: solid;
    border-color: black;
    overflow-y: auto;
    height: 450px;
    padding: 20px;
    margin-top: 20px;
}

footer {
    position: fixed;
    bottom: 0;
  }